.letter-box {
  border: 2px solid #ccc;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.2rem;
  text-transform: uppercase;
  transition: transform 0.3s ease;
  background-color: white;
  color: black;
}

.letter-box.correct {
  background-color: #6aaa64;
  color: white;
}

.letter-box.elsewhere {
  background-color: #c9b458;
  color: white;
}

.letter-box.absent {
  background-color: #787c7e;
  color: white;
}

.letter-box.flip {
  animation: flipIn 0.3s ease forwards;
  background-color: white;
  color: black;
}

@keyframes flipIn {
  0% {
    transform: rotateX(0deg);
  }

  50% {
    transform: rotateX(90deg);
    background-color: white;
  }

  100% {
    transform: rotateX(0deg);
  }
}